rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regra para desenvolvimento: Permite acesso total a qualquer
    // documento dentro de qualquer coleção de usuário.
    // Isso é necessário para permitir que a API e as consultas em tempo real funcionem corretamente.
    match /users/{userId}/{document=**} {
      allow read, write: if true;
    }
  }
}
