rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita em TODOS os documentos do banco de dados.
    // Esta regra é ideal para desenvolvimento, mas é INSEGURA para produção.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
